<!DOCTYPE html>
<html lang="pt-br">
	
	<head>
		<meta charset="UTF-8">
		<title>Paranomásia - Documentação</title>
		<meta charset="UTF-8"/>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Inter+Tight&family=Silkscreen&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">

		<style>
			.textoPixel{
				font-family: 'Silkscreen', cursive;
				font-size: 2.5rem;
			}
			.logo{
				font-family: 'Nunito', cursive;
				font-size: 2.5rem;
			}
			.montserrat{
				font-family: 'Montserrat', cursive;
				font-size: 2.5rem;
			}
			.merriweather{
				font-family: 'Merriweather', cursive;
				font-size: 2.5rem;
			}
		</style>
		
		
	</head>

<body style="background-color: #14213d;">
		
		
	
	<div style="background-color: #14213d;"
		class="jumbotron jumbotron-fluid text-white mb-0 p-3">
		<div class="container">
			<p align="center" class="logo fs-1 p-3">P A R A N O M Á S I A</p>
		</div>
	</div>
	<br>
	
	<br>
	<div class="d-flex justify-content-center">
		<p class="merriweather text-white" style="font-size: 60px; text-align: center">
			&#60 <span style="background-color: #ffbe0b;">SOBRE NÓS</span> >
		</p>

	</div>
	
	<div align="center">
		<div class="" style="background-color:#14213d">
			<p align="left" class="merriweather text-white" style="font-size: 40px; text-align: center; width: 100%">Uma equipe competente.</p>
		</div>
		<br>
		<br>
		<br>
		<br>
	</div>
	<div align="center">
		<div style="width: 40%; display: inline-block; margin-right: 10%">
			<div style="border: 0px solid #FFFFFF">

				<p class="montsserrat"
					style="font-size: 22px; text-align: justify; padding: 0px; color: #FFFFFF">
					Paranomásia é um espaço onde os usuários podem compartilhar suas
					próprias piadas de trocadilho e avaliar outras piadas. A iniciativa
					surgiu para unir as pessoas que se divertem com esse humor barato,
					de caráter duvidoso. Assim, nosso compromisso é criar uma
					comunidade aberta para todos os "trocadilheiros" do Brasil.<br>
					<br> O segundo motivo para a existência desse fórum, é dar
					iniciativa a um projeto open-source. Queremos que a comunidade de
					programadores se sinta livre a contribuir com nosso projeto e
					deixá-lo ainda melhor. Caso você queira participar, não deixe de
					entrar em contato conosco.
				</p>



			</div>
		</div>

		
		<img th:src="@{/images/dev.webp}"
				style="width: 30%; vertical-align: top"></img>
	</div>

	

	<br><br><br><br><br><br><br><br><br><br>
	
	
	
	<div class="d-flex justify-content-center">
		<p class="merriweather text-white" style="font-size: 60px; text-align: center">
			&#60 <span style="background-color: #5a189a;">CARGOS</span> >
		</p>

	</div>
	
	<div align="center">
		<div class="" style="background-color:#14213d">
			<p align="left" class="merriweather text-white" style="font-size: 40px; text-align: center; width: 100%">Cada usuário tem sua profissão.</p>
		</div>
		<br>
		<br>
		<br>
		<br>
	</div>
	
	<div align="center">
		<div style="width: 30%; display: inline-block; margin-right: 5%">
			<div style="border: 0px solid #FFFFFF">

				<p class="montsserrat"
					style="font-size: 22px; text-align: justify; padding: 0px; color: #FFFFFF">
					<strong style="background-color: #5a189a;">Bobo da Corte:</strong> É a primeira profissão que o
					usuário recebe após o registro. Não trás nenhum respeito na
					comunidade e suas tentativas de piada podem te fazer passar
					vergonha.
					<br>
					<br>
					<strong style="background-color: #5a189a;">Tio do Pavê:</strong> Mais experiente que o Bobo da Corte,
					porém, previsível. Seu respeito aumenta em festividades de fim de ano.
					<br>
					<br>
					<strong style="background-color: #5a189a;">Humorista de Ironia:</strong> Talvez as pessoas não entendam suas piadas,
					mas mesmo assim, o constrangimento cômico denota experiência superior em relação 
					ao Tio do Pavê.
					<br>
					<br>
					<strong style="background-color: #5a189a;">Trocadilheiro:</strong> O santo graal dos profissionais do trocadilho.
					Sua experiência é de sabedoria. Esse profissional consegue irritar qualquer pessoa.
				</p>

			</div>
		</div>

		<div style="border: 0px solid #FFFFFF; width: 30%; display: inline-block; vertical-align: top">

			<p class="montsserrat"
				style="font-size: 22px; text-align: justify; padding: 0px; color: #FFFFFF">
				<strong style="background-color: #5a189a;">Para que serve:</strong> A principal utilidade das profissões é... NADA.
				Entendemos que nós seres humanos gostamos de progredir em joguinhos inventados,
				então fizemos o selo das profissões para marcar as pessoas que mais contribuíram com
				a página. Toda vez que avaliar uma piada, você ganha nossa moeda virtual, chamada
				"crise-de-riso". Acumulando crises de riso, você pode trocar por profissões. Caso você
				tenha problemas técnicos durante as compras na loja virtual, não podemos fazer nada... Nosso time é 
				composto por programadores júniors e as chances deles terem feito algo errado, são bem grandes.
				Porém, nosso time é muito propenso a receber suborno, então caso você deseje pular diretamente
				para a profissão mais elevada, basta entrar em contato, oferecendo um depósito significativo.
			</p>

		</div>
	</div>








	<br><br><br><br><br><br><br><br><br><br>
	
	<div class="d-flex justify-content-center">
		<p class="merriweather text-white" style="font-size: 60px; text-align: center">
			&#60 <span style="background-color: #ff002b;">POLÍTICAS DE
			CONVIVÊNCIA</span> >
		</p>

	</div>
	<br>
	<div align="center">
		<div class="" style="background-color:#14213d">
			<p align="left" class="merriweather text-white" style="font-size: 35px; text-align: center; width: 100%">Somos
				uma rede social regida por uma <span style="background-color: #ff002b;">Monarquia Absolutista</span>.</p>
		</div>
		<br>
		<br>
	</div>



	<br>
	<br>
	<img th:src="@{/images/monarquia.png}" style="width: 40%; vertical-align: top; margin-right: 13%"></img>


	<div
		style="border: 0px solid #FFFFFF; width: 30%; display: inline-block; vertical-align: top">

		<br>

		<h1 class="merriweather" 
			style="font-size: 30px; text-align: center; padding: 20px; color: #FFFFFF; background-color: #000000">SIGNIFICA QUE O SEU POST SERÁ EXCLUÍDO SE:</h1>
		<br>
		<ul class="montsserrat"
			style="font-size: 20px; text-align: justify; padding: 10px; color: #FFFFFF">
			<li>Promover discursos de ódio, preconceito, mentiras ou qualquer outra forma de ofensa.</li>
			<br>
			<br>
			<li>O moderador estiver de mal humor e achar o seu post
				irritante de alguma forma (mesmo que não seja irritante).</li>
			<br>
			<br>
			<li>Confundir piadas de trocadilho com outros tipos de
				piada. Memes não serão permitidos.</li>
			<br>
			<br>
			<li>O trocadilho tiver metalinguagem (fazer trocadilho com a palavra "trocadilho", por exemplo).</li>
		</ul>





		<br> <br> <br> <br> <br> <br> 
		

	</div>
	<div align="center">
		<a href="/inicio"><button class="btn btn-outline-light textoPixel fs-3" type="submit" style="width: 15rem; height: 5rem;">Voltar</button></a>
	</div>
	<br> <br> <br> <br> <br> <br> <br> <br>

</body>
</html>